<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Buyer</th>
    <th>Product</th>
    <th>Date</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let field of fieldArray; let i = index">
    <td>
      <input [(ngModel)]="field.buyer" class="form-control" type="text" name="{{field.buyer}}" />
    </td>
    <td>
      <input [(ngModel)]="field.product" class="form-control" type="text" name="{{field.product}}" />
    </td>
    <td>
      <input [(ngModel)]="field.datum" class="form-control" type="text" name="{{field.datum}}" />
    </td>
    <td>
      <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
    </td>
    <td>
      <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
    </td>
  </tr>
  <tr>
    <td>
      <input class="form-control" type="text" id="newAttributeBuyer" [(ngModel)]="newAttribute.buyer" name="newAttributeBuyer" />
    </td>
    <td>
      <input class="form-control" type="text" id="newAttributeProduct" [(ngModel)]="newAttribute.product" name="newAttributeProduct" />
    </td>
    <td>
      <input class="form-control" type="text" id="newAttributeDatum" [(ngModel)]="newAttribute.datum" name="newAttributeDatum" />
    </td>
    <td>
      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
    </td>
    <td>
      <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
    </td>
  </tr>
  </tbody>
</table>
